@import './variables';

:root {
  --primary: #0f62fe; // azul vibrante
  --primary-dark: #0b52c1;
  --muted: #f4f7fb;
  --card-bg: #ffffff;
  --accent: #06a77d;
}

* { box-sizing: border-box; }
html, body, app-root { height: 100%; }
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #f7fbff 0%, #ffffff 100%);
  margin: 0;
  color: #243b53;
}

/* utilidades */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* tarjeta base */
.card {
  background: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(28,41,66,0.06);
  padding: 1.25rem;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .6rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.btn-primary {
  background: var(--primary);
  color: white;
  box-shadow: 0 6px 12px rgba(15,98,254,0.14);
}
.btn-ghost {
  background: transparent;
  color: var(--primary);
  border: 1px solid rgba(15,98,254,0.12);
}
@import './variables';

:root {
  --primary: ##052f83; // azul vibrante
  --primary-dark: #052f83;
  --muted: #f4f7fb;
  --card-bg: #ffffff;
  --accent: #06a77d;
}

* { box-sizing: border-box; }
html, body, app-root { height: 100%; }
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #f7fbff 0%, #ffffff 100%);
  margin: 0;
  color: #243b53;
}

/* utilidades */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* tarjeta base */
.card {
  background: var(--card-bg);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(28,41,66,0.06);
  padding: 1.25rem;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .6rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.btn-primary {
  background: var(--primary);
  color: white;
  box-shadow: 0 6px 12px rgba(15,98,254,0.14);
}
.btn-ghost {
  background: transparent;
  color: var(--primary);
  border: 1px solid rgba(15,98,254,0.12);
}
